{% extends "_base.html" %}
{% block categories %}
    <ul>
        <li>
            <a class="selected" href="{% url 'index' %}">
                <h5>Inicio</h5>
            </a>
        </li>
        {% for c in categories %}
            <li>
                <a href="{% url 'categoria' category_slug=c.slug %}">
                   <h5>{{ c.name }}</h5>
                </a>
            </li>
        {% endfor %}    
    </ul>
{% endblock %}   

{% block content %}
    <h3>{{ category.name }}</h3>
    <div class="category-area">
        {% for m in movies %}
            <a href="{% url 'movie' movie_slug=m.slug %}">
                
            </a>
        {% endfor %}
    </div>
{% endblock %}